.sidebar-logo {
    position: relative;
    margin-top: 1rem;
    padding: 15px 20px 0px 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;

    a {
        display: flex;
        align-items: center;
        height: 64px;

        img {
            border-radius: 10%;
            overflow: hidden;
        }
    }
}