.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#172D3E, #1F669B);
}

.login-box {
  width: 400px;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #172D3E;
  font-weight: 600;
}
